<div class="doc-map">
    <h1 class="map-title">文档地图</h1>
    <div class="doc-map-main">
        <h2 class="line-title bg-1">了解</h2>
        <div class="line-main">
            <div class="link-list no-border">
                <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/Releasenotes/release_notes.html">发行说明</a>
                <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/Quickstart/quick-start.html">快速入门</a>
                <a target="_blank"
                    href="https://www.openeuler.org/whitepaper/openEuler-whitepaper-2203-SP1.pdf">openEuler 技术白皮书</a>
                <a
                    href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/Driver_Development_Specifications/openEuler%E9%A9%B1%E5%8A%A8%E5%BC%80%E5%8F%91%E8%A7%84%E8%8C%83.html">openEuler
                    驱动开发规范</a>
            </div>
        </div>
        <h2 class="line-title bg-1">服务器</h2>
        <div class="line-main">
            <div class="secondary-title">安装</div>
            <div class="link-list">
                <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/Installation/installation.html">安装指南</a>
            </div>
            <div class="secondary-title">系统管理</div>
            <div class="link-list">
                <a
                    href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/Administration/administration.html">管理员指南</a>
            </div>
            <div class="secondary-title">网络</div>
            <div class="link-list">
                <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/Gazelle/Gazelle.html">
                    Gazelle用户指南</a>
                <a
                    href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/Distributed/%E5%9F%BA%E4%BA%8E%E5%88%86%E5%B8%83%E5%BC%8F%E8%BD%AF%E6%80%BB%E7%BA%BF%E6%89%A9%E5%B1%95%E7%94%9F%E6%80%81%E4%BA%92%E8%81%94.html">
                    分布式软总线扩展生态互联</a>
            </div>
            <div class="secondary-title">维护</div>
            <div class="link-list">
                <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/A-Ops/overview.html">A-Ops用户指南</a>
                <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/thirdparty_migration/ha.html">HA用户指南</a>
                <a
                    href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/KernelLiveUpgrade/KernelLiveUpgrade.html">内核热升级用户指南</a>
            </div>
            <div class="secondary-title">安全</div>
            <div class="link-list">
                <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/SecHarden/secHarden.html">安全加固指南</a>
                <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/secGear/secGear.html">secGear 开发指南</a>
            </div>
            <div class="secondary-title">性能</div>
            <div class="link-list">
                <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/A-Tune/A-Tune.html">A-Tune用户指南</a>
            </div>
            <div class="secondary-title">工具链</div>
            <div class="link-list no-border">
                <a
                    href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/ApplicationDev/application-development.html">应用开发指南</a>
                <a
                    href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/UADK/UADK-user-guide.html">UADK用户指南</a>
            </div>
        </div>
        <div class="line-title bg-1">服务</div>
        <div class="line-main">
            <div class="link-list no-border">
                <a
                    href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/SysCare/SysCare%E7%94%A8%E6%88%B7%E6%8C%87%E5%8D%97.html">SysCare用户指南</a>
                <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/oepkgs/overview.html">oepkgs 用户指南</a>
            </div>
        </div>
        <h2 class="line-title bg-1">桌面</h2>
        <div class="line-main">
            <div class="link-list no-border">
                <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/desktop/desktop.html">桌面环境用户指南</a>
            </div>
        </div>
        <h2 class="line-title bg-1">嵌入式</h2>
        <div class="line-main">
            <div class="link-list no-border">
                <a href="https://openeuler.gitee.io/yocto-meta-openeuler/openEuler-22.03-LTS-SP1/index.html">Embedded
                    用户指南</a>
                <a
                    href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/UniProton/UniProton%E7%94%A8%E6%88%B7%E6%8C%87%E5%8D%97-%E6%A6%82%E8%BF%B0.html">UniProton用户指南</a>
            </div>
        </div>
        <h2 class="line-title bg-1">云计算</h2>
        <div class="line-main">
            <div class="secondary-title">虚拟化</div>
            <div class="link-list">
                <a
                    href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/Virtualization/virtualization.html">虚拟化用户指南</a>
                <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/StratoVirt/StratoVirtGuide.html">StratoVirt
                    用户指南</a>
                <a href="https://openeuler.gitee.io/openstack/">OpenStack 部署指南</a>
                <a
                    href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/DPUOffload/libvirt%E7%9B%B4%E8%BF%9E%E8%81%9A%E5%90%88%E7%8E%AF%E5%A2%83%E6%90%AD%E5%BB%BA.html">libvirt直连聚合用户指南</a>
            </div>
            <div class="secondary-title">云原生</div>
            <div class="link-list">
                <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/Container/container.html">容器用户指南</a>
                <a
                    href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/KubeOS/overview.html">容器OS升级指南（KubeOS）</a>
                <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/Kubernetes/Kubernetes.html">Kubernetes
                    集群部署指南</a>
                <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/rubik/overview.html">云原生混合部署rubik用户指南</a>
                <a
                    href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/ClusterDeployment/%E6%94%AF%E6%8C%81%E5%8E%9F%E7%94%9F%E5%BC%80%E5%8F%91%E7%8E%AF%E5%A2%83%E6%89%A7%E8%A1%8C%E6%9C%BA%E9%9B%86%E7%BE%A4%E9%83%A8%E7%BD%B2%E6%8C%87%E5%AF%BC.html">支持原生开发环境执行机集群部署指导</a>
                <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/NestOS/overview.html">NestOS用户指南</a>
            </div>
            <div class="secondary-title">边缘计算</div>
            <div class="link-list no-border">
                <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/KubeEdge/overview.html">KubeEdge
                    边缘计算平台用户指南</a>
                <a
                    href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/K3s/K3s%E9%83%A8%E7%BD%B2%E6%8C%87%E5%8D%97.html">K3s部署指南</a>
            </div>
        </div>
        <h2 class="line-title bg-1">工具</h2>
        <div class="line-main">
            <div class="secondary-title">包管理</div>
            <div class="link-list tool-item">
                <div class="tool-left">pkgship</div>
                <div class="tool-right">
                    <a target="_blank" href="https://pkgmanage.openeuler.org/Packagemanagement "
                        class="download-btn hover-transform">在线服务 {{ partial "svg/icon-right.html" . }}</a>
                    <a target="_blank" href="https://gitee.com/openeuler/pkgship"
                        class="download-btn hover-transform">获取源码
                        {{ partial "svg/icon-right.html" . }}</a>
                    <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/userguide/pkgship.html"
                        class="download-btn hover-transform">使用指南 {{ partial "svg/icon-right.html" . }}</a>
                </div>
            </div>
        </div>
        <div class="line-main">
            <div class="secondary-title">兼容性</div>
            <div class="link-list tool-item">
                <div class="tool-left">oec-hardware</div>
                <div class="tool-right">
                    <a target="_blank" href="https://gitee.com/openeuler/oec-hardware"
                        class="download-btn hover-transform">获取源码 {{ partial "svg/icon-right.html" . }}</a>
                    <a target="_blank" href="https://gitee.com/openeuler/oec-hardware/blob/master/README.md"
                        class="download-btn hover-transform">使用指南 {{ partial "svg/icon-right.html" . }}</a>
                </div>
            </div>
            <div class="link-list tool-item">
                <div class="tool-left">oecp</div>
                <div class="tool-right">
                    <a target="_blank" href="https://toscode.gitee.com/openeuler/oecp/tree/master"
                        class="download-btn hover-transform">获取源码 {{ partial "svg/icon-right.html" . }}</a>
                    <a target="_blank" href="https://toscode.gitee.com/openeuler/oecp/blob/master/README.md"
                        class="download-btn hover-transform">使用指南 {{ partial "svg/icon-right.html" . }}</a>
                </div>
            </div>
        </div>
        <div class="line-main">
            <div class="secondary-title">集成测试</div>
            <div class="link-list tool-item">
                <div class="tool-left">Compass-CI</div>
                <div class="tool-right">
                    <a target="_blank" href="https://gitee.com/openeuler/compass-ci"
                        class="download-btn hover-transform">获取源码 {{ partial "svg/icon-right.html" . }}</a>
                    <a target="_blank" href="https://gitee.com/openeuler/compass-ci/blob/master/README.zh.md"
                        class="download-btn hover-transform">使用指南 {{ partial "svg/icon-right.html" . }}</a>
                </div>
            </div>
        </div>
        <div class="line-main">
            <div class="secondary-title">OS迁移与升级</div>
            <div class="link-list tool-item">
                <div class="tool-left">x2openEuler</div>
                <div class="tool-right">
                    <a target="_blank"
                        href="https://repo.oepkgs.net/openEuler/rpm/openEuler-20.03-LTS-SP1/contrib/x2openEuler/"
                        class="download-btn software-download">软件下载 {{ partial "svg/icon-right.html" . }}</a>
                    <a href="https://docs.openeuler.org/zh/docs/20.03_LTS_SP1/docs/thirdparty_migration/x2openEuler-Userguide.html"
                        class="download-btn hover-transform">使用指南 {{ partial "svg/icon-right.html" . }}</a>
                </div>
            </div>
        </div>
        <div class="line-main">
            <div class="secondary-title">镜像裁剪定制</div>
            <div class="link-list tool-item">
                <div class="tool-left">isocut</div>
                <div class="tool-right">
                    <a target="_blank" href="https://repo.openeuler.org/" class="download-btn software-download">软件下载 {{
                        partial "svg/icon-right.html" . }}</a>
                    <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/TailorCustom/isocut%E4%BD%BF%E7%94%A8%E6%8C%87%E5%8D%97.html"
                        class="download-btn hover-transform">使用指南 {{ partial "svg/icon-right.html" . }}</a>
                </div>
            </div>
            <div class="link-list tool-item">
                <div class="tool-left">imageTailor</div>
                <div class="tool-right">
                    <a target="_blank" href="https://repo.openeuler.org/" class="download-btn software-download">软件下载 {{
                        partial "svg/icon-right.html" . }}</a>
                    <a href="https://docs.openeuler.org/zh/docs/22.03_LTS_SP1/docs/TailorCustom/imageTailor-%E4%BD%BF%E7%94%A8%E6%8C%87%E5%8D%97.html"
                        class="download-btn hover-transform">使用指南 {{ partial "svg/icon-right.html" . }}</a>
                </div>
            </div>
        </div>
        <h2 class="line-title bg-1">学习</h2>
        <div class="line-main">
            <div class="link-list no-border">
                <a target="_blank" href="https://www.openeuler.org/zh/learn/mooc/">慕课</a>
                <a target="_blank" href="https://www.openeuler.org/zh/internship/">实习</a>
                <a target="_blank"
                    href="https://training-assessment.osinfra.cn/commonUsage/privilegePage.htm?tenantId=1519850993951571970&isResources=true&inCollege=false&sxz-lang=zh_CN">学习培训</a>
                <a target="_blank" href="https://www.openeuler.org/zh/interaction/live-list/">直播</a>
            </div>
        </div>
    </div>
</div>